<%
   if project.red?
     background = 'redbox'
   elsif project.green?
     background = 'greenbox'
   else
     background = 'greybox'
   end
   background += ' aggregate' if project.is_a? AggregateProject
%>

<div class="project box <%= background %>" project_id="<%= project.id %>" >
  <div class="tile_left">
    <div class="project_code">
      <h1><%= link_to(project.code, project.url) %></h1>
    </div>
    <div class="project_name">
      <h2><%= link_to(project.name, project.url) %></h2>
    </div>
  </div>

  <div class="tile_right">
      <div class="project_published_at">
        <%= simple_time_for(project.last_published_at) %>
      </div>
    <div class="project_history">
      <%= render :partial=>'dashboards/history', :locals=>{:project=>project} %>
    </div>
  </div>

</div>
